:root {
  --ad-blue: #1a22cc;
  --ad-orange: #f26c4f;
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --primary-glow: conic-gradient(
    from 180deg at 50% 50%,
    #16abff33 0deg,
    #0885ff33 55deg,
    #54d6ff33 120deg,
    #0071ff33 160deg,
    transparent 360deg
  );
  --secondary-glow: radial-gradient(
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );

  --tile-start-rgb: 239, 245, 249;
  --tile-end-rgb: 228, 232, 233;
  --tile-border: conic-gradient(
    #00000080,
    #00000040,
    #00000030,
    #00000020,
    #00000010,
    #00000010,
    #00000080
  );

  --callout-rgb: 238, 240, 241;
  --callout-border-rgb: 172, 175, 176;
  --card-rgb: 180, 185, 188;
  --card-border-rgb: 131, 134, 135;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
    --secondary-glow: linear-gradient(
      to bottom right,
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0.3)
    );

    --tile-start-rgb: 2, 13, 46;
    --tile-end-rgb: 2, 5, 19;
    --tile-border: conic-gradient(
      #ffffff80,
      #ffffff40,
      #ffffff30,
      #ffffff20,
      #ffffff10,
      #ffffff10,
      #ffffff80
    );

    --callout-rgb: 20, 20, 20;
    --callout-border-rgb: 108, 108, 108;
    --card-rgb: 100, 100, 100;
    --card-border-rgb: 200, 200, 200;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Poppins, extrabold";
  font-style: normal;
  font-weight: bold;
  src: url("/fonts/Poppins-ExtraBold.ttf") format("truetype");
}

@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: normal;
  src: url("/fonts/Lato-Regular.ttf") format("truetype");
}

@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

h1 {
  font-family: "Poppins, extrabold";
}

p,
button {
  font-family: "Roboto", sans-serif;
}

/* slots */

#stage {
  margin: 0 auto;
  width: 600px;
  /* padding: 0 0 40px; */
}

.perspective-on {
  -webkit-perspective: 1000px;
  -moz-perspective: 1000px;
  perspective: 1000px; /* Setting the perspective of the contents of the stage but not the stage itself*/
}
.perspective-off {
  -webkit-perspective: 0;
  -moz-perspective: 0;
  perspective: 0;
}

#rotate {
  margin: 0 auto 0;
  width: 450px;
  height: 220px;
  /* padding-top: 200px; */
  /* Ensure that we're in 3D space */
  transform-style: preserve-3d;
}

.ring {
  margin: 0 auto;
  height: 80px;
  width: 90px;
  float: left;
  transform-style: preserve-3d;
  box-shadow: none;
}
.slot {
  position: absolute;
  width: 90px;
  height: 80px;
  box-sizing: border-box;
  opacity: 0.9;
  color: rgba(0, 0, 0, 0.9);
  background: #fff;
  border: solid 2px #000;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}

.backface-on {
  -webkit-backface-visibility: visible;
  -moz-backface-visibility: visible;
  backface-visibility: visible;
}

.slot p {
  font-size: 36px;
  font-weight: bold;
  line-height: 80px;
  margin: 0;
  text-align: center;
}

.go {
  display: block;
  margin: 0 auto 20px;
  /* padding:10px 30px; */
  font-size: 20px;
  cursor: pointer;
}
label {
  cursor: pointer;
  display: inline-block;
  width: 45%;
  text-align: center;
}
.tilted {
  transform: rotateY(45deg);
}
/*=====*/
.spin-0 {
  transform: rotateX(-3719deg);
}
.spin-1 {
  transform: rotateX(-3749deg);
}
.spin-2 {
  transform: rotateX(-3779deg);
}
.spin-3 {
  transform: rotateX(-3809deg);
}
.spin-4 {
  transform: rotateX(-3839deg);
}
.spin-5 {
  transform: rotateX(-3869deg);
}
.spin-6 {
  transform: rotateX(-3899deg);
}
.spin-7 {
  transform: rotateX(-3929deg);
}
.spin-8 {
  transform: rotateX(-3959deg);
}
.spin-9 {
  transform: rotateX(-3989deg);
}
.spin-10 {
  transform: rotateX(-4019deg);
}
.spin-11 {
  transform: rotateX(-4049deg);
}

/*=====*/
@keyframes back-spin {
  /*0%    { transform: rotateX(0deg); }*/
  100% {
    transform: rotateX(30deg);
  }
}
@keyframes tiltin {
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(45deg);
  }
}
@keyframes tiltout {
  0% {
    transform: rotateY(45deg);
  }
  100% {
    transform: rotateY(0deg);
  }
}

@keyframes spin-0 {
  0% {
    transform: rotateX(30deg);
  }
  100% {
    transform: rotateX(-3719deg);
  }
}
@keyframes spin-1 {
  0% {
    transform: rotateX(30deg);
  }
  100% {
    transform: rotateX(-3749deg);
  }
}
@keyframes spin-2 {
  0% {
    transform: rotateX(30deg);
  }
  100% {
    transform: rotateX(-3779deg);
  }
}
@keyframes spin-3 {
  0% {
    transform: rotateX(30deg);
  }
  100% {
    transform: rotateX(-3809deg);
  }
}
@keyframes spin-4 {
  0% {
    transform: rotateX(30deg);
  }
  100% {
    transform: rotateX(-3839deg);
  }
}
@keyframes spin-5 {
  0% {
    transform: rotateX(30deg);
  }
  100% {
    transform: rotateX(-3869deg);
  }
}
@keyframes spin-6 {
  0% {
    transform: rotateX(30deg);
  }
  100% {
    transform: rotateX(-3899deg);
  }
}
@keyframes spin-7 {
  0% {
    transform: rotateX(30deg);
  }
  100% {
    transform: rotateX(-3929deg);
  }
}
@keyframes spin-8 {
  0% {
    transform: rotateX(30deg);
  }
  100% {
    transform: rotateX(-3959deg);
  }
}
@keyframes spin-9 {
  0% {
    transform: rotateX(30deg);
  }
  100% {
    transform: rotateX(-3989deg);
  }
}
@keyframes spin-10 {
  0% {
    transform: rotateX(30deg);
  }
  100% {
    transform: rotateX(-4019deg);
  }
}
@keyframes spin-11 {
  0% {
    transform: rotateX(30deg);
  }
  100% {
    transform: rotateX(-4049deg);
  }
}
